/SignalBot_NetCore/obj
/SignalBot_NetCore/bin/Debug/net6.0
/.vs/SignalBot_NetCore/v17
/.vs/SignalBot_NetCore/FileContentIndex
/.vs/SignalBot_NetCore/DesignTimeBuild
/.vs/ProjectEvaluation
/.vs/SignalBot_NetCore/config
